
<ng-container *ngIf="blog.title">
  <div class="card" *ngIf="pview">
    <b >{{blog.title}}</b>
    <br>
    {{blog.content ? blog.content : "--"}}
    <br>
    <br>
    ~{{blog.author}}
    <button (click)="pview=!pview" class="button btn btn-outline-primary">OK</button>
</div>
</ng-container>


          <!-- <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{{blog.content ? blog.content : "--"}}</div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">{{blog.author}}</div> -->

