<ng-container *ngIf="blog.title">
  <div class="card" *ngIf="pview">
    <b>{{blog.title}}</b>
    <br>
    <ng-container *ngIf="clickEdit ;">
      <!-- make user edit the api  if edit ==true make the blog content should get
  editable maybe it should go under the above code with if else conditions-->
      <div class="form-group">
        <textarea type="text" rows = '70' cols="70" [(ngModel)]="blog.content"> </textarea>
      </div>
    </ng-container>

    <ng-container *ngIf="!clickEdit">
      {{blog.content ? blog.content : "--"}}
    </ng-container>
    <br>
    <br>
    ~{{blog.author}}
    <button (click)="visible()" class="button btn btn-outline-primary">OK</button>
  </div>
</ng-container>
