
<div class="container">
  <div>
    <div *ngFor="let blog of blogList , let i=index">
      <!-- <app-indi-card [blog]="blog"></app-indi-card> -->
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <div class="card leftcard">
            <b>{{blog.title}}</b>
            <br>
            {{maxLen(blog.content)}}
            <br>
            {{blog.author}}

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <button (click)="showData(i)" class="nav-link active button btn btn-outline-primary "
                id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Preview</button>
                <!-- EDIT Button -->
              <button (click)="editData(i)" class="nav-link  button btn btn-outline-primary" id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true">Edit</button>
                <!-- Delete Button  -->
              <button (click)="deleteData(i)" class="nav-link  button btn btn-outline-primary" id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" data-toggle="modal" data-target="#delete"
                aria-selected="true">Delete</button>
            </ul>


          </div>

        </div>
      </div>
    </div>
  </div>

  <div>
    <app-indi-card (Pv)="visible($event)" [blog]="dataToDisplay" [pview]="preview"  [clickEdit]="clickEdit" ></app-indi-card>
    <app-delete-data [blog]="dataToDisplay" [clickDel]="clickDelete"  (deleteObj)="sureDelete($event)"></app-delete-data>
  </div>

</div>
