<!-- <div class="row" >
  <div class="col-md-4"  *ngFor="let blog of blogList" >
    <div class="card">
      <h5 class="card-header" >{{blog.title}}</h5>
      <div class="card-body">
        <p class="card-text contentClass">{{blog.content?blog.content:"--"}}</p>
        <p class="card-text">~ {{blog.author}}</p>
        <a href="#" class="btn btn-primary button">Edit</a>
        <a href="#" class="btn btn-primary button">Preview</a>
        <a href="#" class="btn btn-primary button" >Delete</a>
      </div>
    </div>
  </div>
</div>
 -->
<div  class="container">
  <div>
    <div  *ngFor="let blog of blogList , let i=index" >
      <!-- <app-indi-card [blog]="blog"></app-indi-card> -->
      <div class="d-flex align-items-start" >
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <div class="card leftcard">
            <b>{{blog.title}}</b>
            <br>
            {{maxLen(blog.content)}}
            <br>
            {{blog.author}}

              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <button (click)="showData(i)" class="nav-link active button btn btn-outline-primary " id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Preview</button>
                <button class="nav-link  button btn btn-outline-primary" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Edit</button>
                <button class="nav-link  button btn btn-outline-primary" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Delete</button>
              </ul>


          </div>

        </div>
      </div>
    </div>
  </div>
<div>
  <app-indi-card [blog] = "dataToDisplay" ></app-indi-card>
</div>

</div>







