.button{
  margin: 20px;
  width: 80px;
  height: 40px;
}

.card{
 margin : 10px;
 width: 500px;
 height: 200px;

}

.container{
  display: flex;
}
.light-blue-backdrop{
z-index: 1 !important;
}
.modal-backdrop {
  z-index: 1 !important;
}
