<div class="navigation">
   <ul>
     <li ><a class="navlist" href="\"><h1 class="blog">Blog</h1></a></li>
     <li class="navbuttons" ><a class="navlist" href="\">About Me</a></li>
     <li class="navbuttons" ><a class="navlist" href="\">Home</a></li>
    </ul>
  </div>
  <div class="content">

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem animi officia aliquid beatae facere. 
      Quisquam, ab culpa quibusdam repellendus tenetur numquam deserunt soluta facilis totam ut est harum laudantium 
      tempora repellat quidem error voluptate quia quasi deleniti incidunt architecto. Provident dolore porro aperiam nulla 
      in debitis necessitatibus laborum harum magnam, non, veritatis labore quae? Placeat fugiat culpa velit dolorum illo delectus 
      vero, ullam nostrum beatae, consectetur non quidem possimus voluptatibus?

    </p>
  </div>

<router-outlet></router-outlet>
